<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>MobileStore.Servlet.Admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductServlet</servlet-name>
        <servlet-class>MobileStore.Servlet.Admin.AdminProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDiscountServlet</servlet-name>
        <servlet-class>MobileStore.Servlet.Admin.AdminDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountServlet</servlet-name>
        <servlet-class>MobileStore.Servlet.Admin.AdminAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInvoiceServlet</servlet-name>
        <servlet-class>MobileStore.Servlet.Admin.AdminInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsServlet</servlet-name>
        <servlet-class>MobileStore.Servlet.Admin.StatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProductServlet</servlet-name>
        <servlet-class>MobileStore.Servlet.Customer.CustomerProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>MobileStore.Servlet.Customer.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDiscountServlet</servlet-name>
        <servlet-class>MobileStore.Servlet.Customer.CustomerDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCartServlet</servlet-name>
        <servlet-class>MobileStore.Servlet.Customer.CustomerCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCheckoutServlet</servlet-name>
        <servlet-class>MobileStore.Servlet.Customer.CustomerCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCommentServlet</servlet-name>
        <servlet-class>MobileStore.Servlet.Customer.CustomerCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>MobileStore.Servlet.General.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>MobileStore.Servlet.General.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductServlet</servlet-name>
        <url-pattern>/AdminProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDiscountServlet</servlet-name>
        <url-pattern>/AdminDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountServlet</servlet-name>
        <url-pattern>/AdminAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInvoiceServlet</servlet-name>
        <url-pattern>/AdminInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsServlet</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProductServlet</servlet-name>
        <url-pattern>/CustomerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDiscountServlet</servlet-name>
        <url-pattern>/CustomerDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCartServlet</servlet-name>
        <url-pattern>/CustomerCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCheckoutServlet</servlet-name>
        <url-pattern>/CustomerCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCommentServlet</servlet-name>
        <url-pattern>/CustomerComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
        <welcome-file>customer_Home.jsp</welcome-file>
        <welcome-file>Admin.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>MobileStore.Servlet.General.RegisterController</servlet-class>
    </servlet>
</web-app>
